@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    margin: 0;
    background-color: #141b25
  }

.wrapper {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 16px;
}

/*.main-nav-list {
    position: -webkit-sticky;
    position: sticky; 
    top: 0;
}
*/
.logo {
    
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    color: white;
    background: transparent;
}

.logo a {
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    color: white;
    text-decoration: none;
}


.main-nav-list {
    display: flex;
    padding: 0;
    margin: 1rem 0;
    justify-content: center;
    text-transform: uppercase;
  }
  
.main-nav-list a {
    padding: 0.5em 0.8em;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
.main-nav-list li {
    background-color: transparent;
    font-family: 'Barlow', sans-serif;
    color: white;
    display: inline-block;
    font-weight: bold;
  }
  
.main-nav-list li:hover {
    color: #CC9966;
  }

/* main page*/

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 1rem;
    margin-top: 100px;
}

.welcome, .bold, .bold span, .more{
    gap: 1rem;
    text-transform: uppercase;
}
.welcome {
    font-family: 'Barlow', sans-serif;
    color: #CC9966;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1,8;
}
.bold {
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 46px;
    text-transform: uppercase;
    margin-top: 0;
}    
.bold span {
    font-family: 'Barlow', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 46px;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}
.mainp {
    font-family: 'Poppins', sans-serif;
    color: white;
    border-left: 2px solid #CC9966;
}
button {
    font-weight: bold;
    font-size: 16px;
    color:#CC9966; 
    letter-spacing: 1px;
    border: 2px solid #CC9966; 
    background-color: transparent;
}

/*Wrapper nere*/

.wrapper-below {
    margin-top: 250px;
    display: flex;
    flex-direction: row;
}

.wrapper-below h2 {
    margin-top: 5rem;
    color: white;
    text-align: center;
}

.wrapper-below p {
    margin-bottom: 8rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 1.5rem;
    text-align: center;
}

.wrapper-below img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: -7.5rem;
    z-index: 1;
    align-self: center;
}

.styles {
   background-color: #CC9966;
   align-content: center;
}

.trim {
    background-color: #b9884b
}

.shave {
    background-color: #CC9966;

}

.schampoo {

    background-color: #b9884b

}

/* About */

.container-about {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.container-about img {
    align-self: flex-start;
    flex-basis: 350px;
    padding: 25px;

}
.about {
   flex-basis: 500px;
   align-self: flex-end;

   
}

/* Testimonial */

.subheading {
    font-family: 'Barlow', sans-serif;
    color:#CC9966; 
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.about-barber {
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;

}

.testimonial {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.roger1, .roger2, .roger3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 350px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20%;
}


.saying {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.testimonial img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
}

.fivestars {
    display: flex;
    flex-direction: column;
    
}
.stars {
    color:#CC9966; 
    margin: 0%;
    margin-top: 5px;
}

.name {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}

.customer {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color:#CC9966; 
    margin: 0%;
}



/* Footer */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social {
    flex-basis: 200px;

}
h3 {
    color: white;
    
}

i {
    font-size: 25px;
    color:  #CC9966;
    margin-right: 15px;
}

.explore {
    flex-basis: 250px;
    padding-left: 15px;
    padding-right: 15px;
}

.info {
    flex-basis: 250px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-footer ul {
    padding-left: 0;
    list-style: none;
}

.nav-footer li {
    
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
}

.nav-footer li::before {
    content: '>';
    margin-right: 5px;
}

.nav-footer a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

.contact {
    flex-basis: 225px;
}

.contact p {
    color: white;
    font-family: 'Poppins', sans-serif;
    
    
}

.contact a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width:800px) {
input, label {
    visibility: hidden;
}

}

@media screen and (max-width: 600px) {
.wrapper-below, .footer-container, .container-about, .testimonial {
    flex-wrap: wrap;
}

    /*toggle nav*/

input {
    position: absolute;
    top: -99px;
    right: -99px;
}

label {
    position: absolute;
    z-index: 100;
    top: 25px;
    right: 20px;
    padding: 6px 0;
    cursor: pointer;
    color:  #CC9966;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
}

.main-nav {
    position: absolute;
    top: -100px;
    width: 100%; 
    transition: all .5s ease-out;
}

#toggle:checked ~ nav {
    top: 50px;
}

.container-about img {
    width: 100%;
}

}